.header {

    * {
        margin: -8px;
        margin-right: -8px;
        padding: 30px;
    }

    .logo {
        text-align: center;
        background-color: black;
        color: #dddddd;
        font-family: Arial, sans-serif;
        font-size: 40px;
        ;
    }
}