<div class="home">
  <div class="button-container">
    <button class="btn btn-add btn-blue" (click)="modalActive = true">
      + Adicionar produto
    </button>
  </div>

  <div class="title-container">
    <hr />
    <h4 class="title">Produtos cadastrados</h4>
    <hr />
  </div>

  <div class="items-container">
    <div class="items">
      <div class="item" *ngFor="let produto of produtos">
        <h4 class="title">{{ produto.tipo }} {{ produto.modelo }}</h4>
        <span>Preço: {{ produto.preco }}</span>
        <span>Quantidade: {{ produto.quantidade }}</span>
        <!-- Adicionei um botão para deletar o produto, que recebe o id -->
        <button (click)="deleteProduct(produto)" class="btn btn-red">Deletar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalActive" class="modal new">
  <div class="form-container">
    <form class="form" [formGroup]="productForm" (ngSubmit)="addProduct()">
      <h3 class="title center">Adicione um novo produto:</h3>

      <div class="field-container">
        <label for="tipo">Tipo:</label>
        <input
          id="tipo"
          type="text"
          formControlName="tipo"
          [class.invalid]="
            productForm.get('tipo')?.invalid && productForm.get('tipo')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="modelo">Modelo:</label>
        <input
          id="modelo"
          type="text"
          formControlName="modelo"
          [class.invalid]="
            productForm.get('modelo')?.invalid && productForm.get('modelo')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="preco">Preço:</label>
        <input
          id="preco"
          type="number"
          formControlName="preco"
          [class.invalid]="
            productForm.get('preco')?.invalid && productForm.get('preco')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="quantidade">Quantidade:</label>
        <input
          id="quantidade"
          type="number"
          formControlName="quantidade"
          [class.invalid]="
            productForm.get('quantidade')?.invalid && productForm.get('quantidade')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="imagem">Imagem</label>
        <input
          id="imagem"
          type="url"
          formControlName="imagem"
          [class.invalid]="
            productForm.get('imagem')?.invalid && productForm.get('imagem')?.touched
          "
        />
      </div>

      <div class="btn-container">
        <button
          [disabled]="productForm.invalid"
          type="submit"
          class="btn btn-green" (click)="modalActive = false"
        >
          Adicionar
        </button>
        <button class="btn btn-red" (click)="modalActive = false">
          Cancelar
        </button>
      </div>
    </form>
    <div></div>
  </div>
</div>
